<template>
  <h2 i18n="applicant.${action}.title"></h2>
  <form submit.delegate="submit()" reset.delegate="reset()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-control-label" for="applicant_name" i18n="applicant.fields.name"></label>
        <input class="form-control" id="applicant_name" value.bind="applicant.name & validate">
      </div>
      <div class="form-group col-md-6">
        <label class="form-control-label" for="applicant_familyName" i18n="applicant.fields.familyName"></label>
        <input class="form-control" id="applicant_familyName" value.bind="applicant.familyName & validate">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-control-label" for="applicant_address" i18n="applicant.fields.address"></label>
        <input class="form-control" id="applicant_address" value.bind="applicant.address & validate">
      </div>
      <div class="form-group col-md-6">
        <label class="form-control-label" for="applicant_countryOfOrigin"
          i18n="applicant.fields.countryOfOrigin"></label>
        <!--<input class="form-control" id="applicant_countryOfOrigin" value.bind="applicant.countryOfOrigin & validate">-->
        <select class="form-control" id="applicant_countryOfOrigin" value.bind="applicant.countryOfOrigin & validateOnChange">
          <option></option>
          <option value="${$key}" repeat.for="[$key, $value] of countries">${$value[locale]}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-control-label" for="applicant_eMailAddress" i18n="applicant.fields.eMailAddress"></label>
        <input class="form-control" id="applicant_eMailAddress" value.bind="applicant.eMailAddress & validate">
      </div>
      <div class="form-group col-md-6">
        <label class="form-control-label" for="applicant_age" i18n="applicant.fields.age"></label>
        <input class="form-control" id="applicant_age" value.bind="applicant.age & validate">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label class="form-control-label" for="applicant_hired" i18n="applicant.fields.hired"></label>
        <input type="checkbox" id="applicant_hired" checked.bind="applicant.hired & validateOnChange">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary" i18n="submit" disabled.bind="!canSave"></button>
        <button type="reset" class="btn btn-secondary" i18n="reset" disabled.bind="!canReset"></button>
      </div>
    </div>
  </form>
</template>
