<template>
  <require from="../components/country-attribute"></require>

  <p class="text-center"><button class="btn btn-primary" click.delegate="load()" i18n="applicant.actions.reload"></button> <a route-href="route: ApplicantCreate" class="btn btn-secondary" i18n="applicant.actions.insert"></a></p>

  <!-- Add a table to display the applicants -->
  <div class="table-responsive">
    <table class="table table-hover table-alternate">
      <thead>
        <tr class="table-primary">
          <th scope="col" i18n="applicant.fields.id"></th>
          <th scope="col" i18n="applicant.fields.name"></th>
          <th scope="col" i18n="applicant.fields.familyName"></th>
          <th scope="col" i18n="applicant.fields.address"></th>
          <th scope="col" i18n="applicant.fields.countryOfOrigin"></th>
          <th scope="col" i18n="applicant.fields.eMailAddress"></th>
          <th scope="col" i18n="applicant.fields.age"></th>
          <th scope="col" i18n="applicant.fields.hired"></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" repeat.for="item of applicantsList">
          <td>${item.id}</td>
          <td>${item.name}</td>
          <td>${item.familyName}</td>
          <td>${item.address}</td>
          <td country="${item.countryOfOrigin}"></td>
          <td>${item.eMailAddress}</td>
          <td>${item.age}</td>
          <td i18n="${item.hired.toString()}"></td>
          <td class="text-right text-nowrap"><a route-href="route: ApplicantUpdate; params.bind: {id:item.id}" class="btn btn-warning" i18n="applicant.actions.update"></a> <button class="btn btn-danger" click.delegate="delete(item.id)" i18n="applicant.actions.delete"></button></td>
        </tr>
      </tbody>
    </table> 
  </div>
</template>
