<template>
  <div class="alert alert-success text-center" style="margin-top: 50px">
    <p><strong i18n="wellDone"></strong></p>
    <p><span i18n="applicant.success"></span></p>
  </div>
  <div class="text-center">
    <a route-href="route: ApplicantList" class="btn btn-primary" i18n="applicant.backToList"></a>
  </div>
</template>
