<template>
  <ux-dialog>
    <ux-dialog-body>
      <div>${title}</div>
      <div>${message}</div>
    </ux-dialog-body>

    <ux-dialog-footer>
      <button class="btn btn-primary" click.trigger="controller.ok()" i18n="alert.ok"></button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
