<template>
  <ux-dialog>
    <ux-dialog-body>
      <span i18n="confirm.${message}"></span>
    </ux-dialog-body>

    <ux-dialog-footer>
      <button class="btn btn-secondary" click.trigger="controller.cancel()" i18n="confirm.cancel"></button>
      <button class="btn btn-primary" click.trigger="controller.ok(message)" i18n="confirm.ok"></button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
