<template>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
      <a route-href="route: ApplicantList" class="navbar-brand" i18n="title"></a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
              <a class="nav-link" href="">Test 1</a>
            </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="languages" aria-expanded="false"
              i18n="nav-menu.language">
              <span class="caret"></span></a>
            <div class="dropdown-menu" aria-labelledby="languages">
              <a repeat.for="locale of localization.locales" href=""
                class="dropdown-item ${(localization.currentLocale==locale.code) ? 'active' : ''}"
                click.trigger="setLocale(locale.code)">
                ${locale.title}
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
