body {
  padding-top: 56px;
}

h2 {
  margin: 15px 0;
}

p {
  margin: 15px 0;
}

.btn + .btn {
  margin-left: 15px;
}

label {
  user-select: none;
}

ux-dialog {
  color: #000;
}

ux-dialog .dialog-header-content {
  font-size: 1.2em;
}

ux-dialog-container > div > div {
  width: 100% !important;
}

.edit-applicant {
  width: 100% !important;
  max-width: 700px;
}

.form-group input[type=checkbox], .form-group input[type=radio] {
  display: block;
  width: auto;
}
